<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   	<script type="text/javascript" src = "/javascripts/validacao.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <fieldset>
      <h1>alterar</h1>
    	<form action="/alterar-pessoa?cpf=<%= pessoaalterar.cpf %>" method="POST" onsubmit="return validacao()">
    	Nome:
 		<input type="text" id="nome" name="nome" value = "<%= pessoaalterar.nome %>"> <br>
 		Sobrenome:
 		<input type="text" id="sobrenome" name="sobrenome" value = "<%= pessoaalterar.sobrenome %>"><br>
 		Telefone:
 		<input type="text" id="telefone" name="telefone" value = "<%= pessoaalterar.telefone %>"><br>
    Cpf:
    <input type="text" id="cpf" name="cpf" value = "<%= pessoaalterar.cpf %>">
 		<input type="submit" label = "Alterar">
  </fieldset>
  </body>
</html>
