<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src=/javascripts/validacao.js></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'/>
  </head>
  <body>
    <h1>Aplicação com <%= title %></h1>
    <p>Bem vindo a minha primeira aplicação com <%= title %></p>
    <form method="POST" action="/cadastrar-pessoa" onsubmit="return validacao()" class="form-horizontal">
      <div class="form-group">
        <label  class="col-sm-2 control-label">Nome Completo</label>
        <div class="col-sm-10">
          <input type="text" name="nomecompleto" id="nomecompleto"><br>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">CPF</label>
        <div class="col-sm-10">
      <input type="text" name="cpf" id="cpf"><br>
      </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">Telefone</label>
        <div class="col-sm-10">
      <input type="text" name="telefone" id="telefone"><br>
      </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Endereço</label>
        <div class="col-sm-10">
      <input type="text" name="endereco" id="endereco"><br>
      </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
      <input type="text" name="email" id="email"><br>
      </div>
      </div>
      <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input  type="submit"  value="Cadastrar" class="btn btn-success">
      </div>
  </div>
    </form>
    <br>
    <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <td><b>Nome Completo</b></td>
        <td><b>CPF</b></td>
        <td><b>Telefone</b></td>
        <td><b>Endereço</b></td>
        <td><b>E-mail</b></td>
      </tr>
      <% for(i=0;i<pessoas.length;i++){ %>
      <tr>
        <td><%= pessoas[i].nomecompleto%></td>
        <td><%= pessoas[i].cpf%></td>
        <td><%= pessoas[i].telefone%></td>
        <td><%= pessoas[i].endereco%></td>
        <td><%= pessoas[i].email%></td>
        <td><a href = "/excluir-pessoa?cpf=<%= pessoas[i].cpf%>" onclick = "return temcerteza()"><button type="button" class="btn btn-danger">Excluir</button></a></td>
        <td><a href = "/alterar-pessoa-um?cpf=<%= pessoas[i].cpf%>"><button type="button" class="btn btn-warning">Alterar</button></a></td>
      </tr>
      <%}%>
    </table>
  </div>
    <br>
    <form method="GET" action="/buscarnome" onsubmit="return validacaobusca()">
      Nome completo:<input type="text" id="nomecompletobusca" name="nomecompleto">
      <input type="submit" class="btn btn-success" value="Buscar">
    </form>
    <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <td><b>Nome Completo</b></td>
        <td><b>CPF</b></td>
        <td><b>Telefone</b></td>
        <td><b>Endereço</b></td>
        <td><b>E-mail</b></td>
      </tr>
      <% for(i=0;i<resultadobuscanome.length;i++){ %>
      <tr>
        <td><%= resultadobuscanome[i].nomecompleto%></td>
        <td><%= resultadobuscanome[i].cpf%></td>
        <td><%= resultadobuscanome[i].telefone%></td>
        <td><%= resultadobuscanome[i].endereco%></td>
        <td><%= resultadobuscanome[i].email%></td>
      </tr>
      <%}%>
    </table>
    </div>
  </body>
</html>
